body {
  box-sizing: border-box;
  margin: 0;
}

.request {
  width: auto;
  height: 14rem;
  padding-top: 3rem;
  padding-bottom: 9rem;
  background-color: #ff3300;
}
.help {
  margin: 0 auto;
  color: rgb(5, 5, 5);
  background-color: rgb(255, 255, 255);

  border-style: none;
  width: 12rem !important;
  font-size: 0.75rem;
  display: block;
  position: relative;
}
.service {
  margin: 0 auto;
  color: rgb(5, 5, 5);
  background-color: rgb(255, 255, 255);

  border-style: none;
  width: 12rem !important;
  font-size: 0.75rem;
  display: block;
  position: relative;
  margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
  .s6 {
    text-align: center !important;
  }
  p {
    text-align: center !important;
    font-size: 1.5rem;
  }
  .large {
    width: 65% !important;
  }
  .landingimg {
    height: 42em !important;
  }
}
