body {
  box-sizing: border-box;
  margin: 0;
}
.row {
  margin-bottom: 10px;
}
.request {
  width: auto;
  height: 15rem;
  padding-top: 4rem;
  padding-bottom: 9rem;
  margin-top: -1rem;
  background-color: rgba(226, 42, 0, 0.85);
}
.help {
  margin: 0 auto;
  color: rgb(5, 5, 5);
  background-color: rgb(255, 255, 255);

  border-style: none;
  width: 12rem !important;
  font-size: 0.75rem;
  display: block;
  position: relative;
}
.help .service :hover {
  background-color: rgba(226, 42, 0, 0.85);
  color: #fff;
}
.service {
  margin: 0 auto;
  color: rgb(5, 5, 5);
  background-color: rgb(255, 255, 255);

  border-style: none;
  width: 12rem !important;
  font-size: 0.75rem;
  display: block;
  position: relative;
  margin-top: 2rem;
}
.icons-msg {
  background-color: rgba(255, 104, 104, 0.116);
  padding-top: 2rem;
}
iframe {
  height: 110% !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .who {
    margin-top: 1rem;
  }
  .how-img {
    height: 16rem !important;
  }
  .icon-size {
    width: 30% !important;
  }
}
@media only screen and (min-width: 768px) {
  .s6 {
    text-align: center !important;
  }
  p {
    text-align: center !important;
    font-size: 1.5rem;
  }
  .large {
    width: 65% !important;
  }
  .landingimg {
    height: 42em !important;
  }
  .who {
    margin-top: 5rem;
  }
  .icon-size {
    width: 20% !important;
  }
  .video {
    width: 60% !important;
  }
}
@media only screen and (min-width: 1080px) {
  .icon-size {
    width: 10% !important;
  }
}
